[Desktop Entry]
Name=Teditor
GenericName=Text Editor
GenericName[de]=Texteditor
Comment=Edit text and code
TryExec=ted
Exec=ted %F
Terminal=true
Type=Application
Keywords=Text;editor;
Icon=/usr/share/icons/hicolor/48x48/apps/ted.png
Categories=Utility;TextEditor;
StartupNotify=false
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
